body {
  background-color: #92a8d1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 10%;
}

.sub-header {
  margin: 3% 0%;
  text-align: center;
  text-transform: uppercase;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: rgba(0,0,0 0.1)
}

.header {
 text-align: center;
}

.education {
  margin: 5% 5%;
}
